@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: hsl(233, 47%, 7%);
	justify-content: center;
	color: white;
	font-size: 15px;
}

@media screen and (max-width: 600px) {
	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 300px;
		margin: auto;
		background-color: hsl(244, 38%, 16%);
	}

	.card__img img {
		width: 300px;
		border-radius: 10px 10px 0px 0px;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
